
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

:root {
  --header-height:6rem;

  --hue-color: 202;
  --first-color: hsl(var(--hue-color), 66%, 39%) ;
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92, 85);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #FFF;

  --title-font: 'Playfair Display', serif;
  --body-font: 'Roboto Mono', 'Times New Roman', Times, serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

}
@media screen and (min-width:968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-height);
  font-family: var(--body-font);
  font-size: 1rem;
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0 auto;
  padding: 0 4rem;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  display: flex;
  align-items: center;
}
.header {
  height: var(--header-height);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
}
.nav_container {
  background-color: white;
  justify-content: space-between;
  display: flex;
}
.nav_logo {
  width: 80px;
  display: flex;
  align-items: center;
}
.nav_list {
  display: flex;
  align-items: center;
}
.nav_link {
  display: inline-block;
  padding: 10px;
}
.nav_link:hover {
  cursor: pointer;
  color: var(--first-color);
}
.presentation_container {
  height: calc(100vh - 6rem);
  display: grid;
  grid-template-columns: 5% 45% 50%;
  align-items: center;
  justify-content: center;
  border-bottom: solid var(--first-color);
}

.link_item  {
  font-size: var(--h3-font-size);
}

h1 {
  color: var(--title-color);
  font-size: var(--big-font-size);
  line-height: 0.8;
  font-family: var(--body-font);
}

.section_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_text p {
  line-height: 1.6rem;
  font-size: var(--normal-font-size);
}

.presentation_container img {
  max-width: 100%;
}
.presentation_container button {
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--input-color);
  box-shadow: 1px 1px var(--text-color-light);
  margin-top: 1%;
  border-radius: 2rem;
  padding: 2%;
  border: none;
  background-color: var(--first-color);
  transition: 0.3s;
  width:300px;
}

.presentation_container button:hover {
  background-color: var(--first-color-alt);
  cursor: pointer;
}

.about-section {
  border-bottom: solid var(--first-color);
}

.about {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-gap: 5%;
  padding: 5% 0;
  align-items: center;
  justify-content: center;
}

.about-title {
  font-size: var(--big-font-size);
  font-family: var(--body-font);
  color: var(--title-color);
  margin-bottom: 20px;
}
.about-photo{
  margin-left: 50px;
  width: 500px;
  border-radius: 2rem;
}

.about:hover .about-photo {
  border: 2px solid var(--first-color);
  filter: none;
  transition: opacity .25s linear;
}

.skills-section {
  text-align: center;
  padding-top: 5%;
  border-bottom: solid var(--first-color);
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 18px;
}

.skills img{
  width: 35px;
  margin-right: 20px;
}

.work-section {
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 5%;
  border-bottom: solid var(--first-color);;
}
.work-menu {
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.work-menu li {
  background: var(--first-color);
  padding: 12px;
  border-radius: 2rem;
  font-size: var(--h3-font-size);
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.disabled {
  background: var(--first-color-alt) !important;
  pointer-events: none;
}

.work-menu li:hover {
  background: var(--first-color-alt);
}

.work-description {
  min-height: 400px;
  box-sizing: border-box;
  border: 2px solid var(--first-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  border-left: 30px solid var(--first-color);
}

.company-name {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: bold;
}

.company-interval {
  font-size: var(--small-font-size);
}

.work-informations {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.company-role {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.projects-section {
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 100%;
  padding: 5%;
  text-align: center;
}
.projects-done {
  justify-content: center;
  display: flex;
  gap: 20px;
}
.project-card {
  border: 2px solid;
  border-radius: 2rem;
  min-height: 230px;
  padding: 10px 0;
}

.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin:10px;
  background: var(--first-color-alt);
  width: 320px;
  height: 120px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
}

.doing:hover {
  opacity: 0.6;
}

.project-card:hover .project-image {
  background: rgb(163,163,163);
}

.project-card:hover .warning{
  display: block;
}

.warning {
  display: none;
  font-weight: 600;
  color: white;
  font-size: var(--h3-font-size);
}

@media only screen and (max-width: 1500px) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .about-photo {
    margin: 0;
  }

  .skills {
    justify-content: center;
  }
}

@media only screen and (max-width: 1200px) {
  .projects-done {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
  }
}


@media only screen and (max-width: 770px) {
  .presentation_container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .link_menu  ul{
    margin-top: 12px;
    display: flex;
    gap: 14px;
  }

  .section_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-photo {
    width: 300px;
  }

  .project-card {
    width: 300px;
  }

  .project-image {
    width: 270px;
  }
}


